.container {
  border: 1px solid black;
  display: flex;
}
.item {
  padding: 5px 45px;
  margin: 5px;
}
.item1 {
  background: red;
  flex-grow: 1;
}
.item2 {
  background: orange;
}
.item3 {
  background: yellow;
}
